# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-doge.desktop

[Desktop Entry]
Comment=Lightweight Dogecoin Client
Exec=electrum-doge %u
GenericName[en_US]=Electrum-DOGE
GenericName=Electrum-DOGE
Icon=/usr/share/app-install/icons/electrum-doge.png
Name[en_US]=Electrum Dogecoin Wallet
Name=Electrum Dogecoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/dogecoin

