# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-ixc.desktop

[Desktop Entry]
Comment=Lightweight Ixcoin Client
Exec=electrum-ixc %u
GenericName[en_US]=Electrum-IXC
GenericName=Electrum-IXC
Icon=/usr/share/app-install/icons/electrum-ixc.png
Name[en_US]=Electrum Ixcoin Wallet
Name=Electrum Ixcoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/ixcoin

